.bio {
  max-width: 600px;
  margin: 20px auto;
  padding-top: 25px;

  & img {
    max-width: 200px;
    float: left;
    margin-right: 12px;
    border-radius: 50%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  }

  & .social-icon + .social-icon {
    margin-left: 12px;
  }
}
